@import 'mixins.scss';
@import 'fonts.scss';
/*=== GLOBAL STYLE ===*/

body {
  font-weight: normal;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff;
}

/*=== NAVBAR===*/

nav {
  font-family: $font-lite;
  padding: 10px;
  background-color: #f1f7f6;
  a {
    color: #545158 !important;
  }
}

.navbar li {
  text-align: center;
  font-size: 28px;
}

.hamburger-inner {
  color: rgba(0, 0, 0, 0.5);
}

.sociallinks {
  color: rgba(0, 0, 0, 0.5);
}

.sociallinks:hover {
  color: #222222;
}

/* mouse over link */

#navbar a:hover {
  color: #222222;
}

/*=== HEADER ===*/

header {
  padding: 200px 50px 1000px 50px;
  background-image: url("../images/hero.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    text-align: center;
    font-size: 50px;
    font-family: $font-lite;
    color: #fff;
    text-shadow: 2px 2px #222222;
  }
  h2 {
    font-family: $font-lite;
    padding: 10px;
    font-size: 32px;
    color: #222222;
  }
  p {
    font-family: $font-lite;
    padding: 10px;
    font-size: 20px;
    color: #222222;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/*=== MAIN ===*/

main {
  margin-top: -25px;
  padding: 20px;
  text-align: center;
  background-color: #f1f7f6;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  h2 {
    padding: 40px;
    font-size: 25px;
    font-family: $font-reg;
    color: #545158;
  }
  h3 {
    font-family: $font-reg;
    color: #5e9390;
    text-align: center;
  }
  ul {
    font-family: $font-lite;
    list-style-type: none;
    font-size: 18px;
    padding-left: 0px;
  }
  #skillbox {
    margin: -150px 20px 20px 20px;
  }
  .skills {
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 1px 3px 2px #888888;
  }
  .img-fluid {
    box-shadow: 1px 3px 2px #888888;
    border-radius: 25px;
  } // GRIDDER CSS
  .gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  .gridder-list {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
  }
  .gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background: #EEE url('../images/loading-spin.svg') no-repeat center;
    &.loading {
      background: #EEE url('../images/loading-spin.svg') no-repeat center;
    }
  }
  .gridder-content {
    display: none;
  }
  .gridder-list {
    @include rowMachine(1, 1%);
  }
  /* */
  .gridder-show {
    padding: 20px;
    background: #EEE;
    margin-bottom: 1%;
  }
  .gridder-navigation {
    text-align: right;
    .gridder-nav {
      &.disabled {
        opacity: .5;
      }
    }
  }
  .gridder-close {
    color: #222222;
    text-align: center;
  }
  .gridder-list {
    cursor: pointer;
    &:hover {
      opacity: .8
    }
  }
  .hasSelectedItem {
    .gridder-list {
      opacity: .5;
      &.selectedItem {
        opacity: 1;
      }
    }
  }
}

/*=== ARTICLE ===*/

article {
  text-align: center;
  font-family: $font-lite;
  h2 {
    padding: 40px;
    font-size: 25px;
    font-family: $font-reg;
    color: #545158;
  }
  h3 {
    color: #222222;
    padding: 100px;
  }
  form p {
    font-size: 18px;
  }
  form #submit-button {
    color: #c3dbd8;
    background-color: #222222;
  }
  form #submit-button:hover {
    background-color: #c3dbd8;
    color: #222222;
  }
}

/*=== FOOTER ==*/

footer {
  background-color: #222222;
  text-align: center;
  p {
    color: #fff;
    font-size: 16px;
  }
  i {
    color: #fff;
  }
}

/*===============MEDIA QUERIES ====================*/

/*=== TABLET ===*/

@media (min-width: 600px) {
  .navbar li {
    font-size: 20px;
  }
  header {
    h1 {
      font-size: 80px;
    }
    h2 {
      padding: 60px;
      text-align: justify;
      font-size: 40px;
    }
    p {
      padding: 60px;
      text-align: justify;
      font-size: 20px;
    }
  }
  main {
    .gridder-list {
      @include rowMachine(2, 1%);
    }
    h2 {
      font-size: 30px;
    }
  }
  article {
  max-width: 60%;
  }
  h2 {
    font-size: 30px;
  }
}

/*=== DESKTOP ===*/

@media (min-width: 1200px) {
  .navbar li {
    font-size: 22px;
  }
  header {
    h1 {
      font-size: 80px;
    }
    h2 {
      padding: 60px;
      text-align: justify;
      font-size: 40px;
    }
    p {
      padding: 60px;
      text-align: justify;
      font-size: 20px;
    }
  }
  main {
    .gridder-list {
      @include rowMachine(3, 1%);
      ul {
        font-size: 20px;
      }
    }
    h2 {
      font-size: 35px;
    }
  }
  article {
  max-width: 60%;
  h2 {
    font-size: 35px;
  }
  }
}
