@import 'fonts';

/*=== GLOBAL STYLE ===*/

body {
	font-weight: normal;
	font-size: 20px;
	overflow-x: hidden;
	background-color: #fff;
}
img {
	max-width: 100%;
	height: auto;
}

/*=== NAVBAR STYLE ===*/

nav {
	font-family: $font-reg;
	padding: 10px;
}
.navbar li {
	text-align: center;
	font-size: 28px;
}
.hamburger-inner {
	color: rgba(0, 0, 0, 0.5);
}
.sociallinks {
	color: rgba(0, 0, 0, 0.5);
}
.sociallinks:hover {
	color: #222222;
}

/* mouse over link */

#navbar a:hover {
	color: #222222;
}

/*=== HEADER SECTION ===*/
header {
	font-family: $font-lite;
	text-align: center;
	border-bottom: 1px #222222 solid;

  h1 {
  	color: #222222;
  	padding: 50px;
  }
}

/*=== MAIN SECTION ===*/

main {
	text-align: center;
	border-bottom: 1px #222222 solid;

  h2 {
  	color: #222222;
  	padding: 100px;
  }
}

/*=== ARTICLE SECTION ===*/
article {
	text-align: center;

  h3 {
  	color: #222222;
  	padding: 100px;
  }
}
/*=== FOOTER SECTION ==*/

footer {
	background-color: #222222;
	text-align: center;

  p {
  	color: #fff;
  	font-size: 16px;
  }

  a {
	 color: #fff;
  }
}
/*===============MEDIA QUERIES ====================*/

/*=== TABLET STYLE ===*/

@media (min-width: 600px)  {
	.navbar li {
		font-size: 20px;
	}
}
/*=== DESKTOP STYLE ===*/

@media (min-width: 1200px)  {
	.navbar li {
		font-size: 22px;
	}
}
