@import 'fonts';

/*=== GLOBAL STYLE ===*/

body {
  font-family: $font-reg;
	font-weight: normal;
	font-size: 20px;
	overflow-x: hidden;
	background-color: #fff;
}

/*=== NAVBAR===*/

nav {
  font-family: $font-lite;
	padding: 10px;
}
.navbar li {
	text-align: center;
	font-size: 28px;
}
.hamburger-inner {
	color: rgba(0, 0, 0, 0.5);
}
.sociallinks {
	color: rgba(0, 0, 0, 0.5);
}
.sociallinks:hover {
	color: #222222;
}

/* mouse over link */

#navbar a:hover {
	color: #222222;
}

/*=== HEADER ===*/
header {
	font-family: $font-lite;
	text-align: center;
  background-image: url("../img/bg.jpg");

  h1 {
  	color: #fff;
  	padding: 50px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/*=== MAIN ===*/

main {
	text-align: center;
	border-bottom: 1px #222222 solid;

  h2 {
  	color: #222222;
  	padding: 100px;
  }
}

/*=== ARTICLE ===*/
article {
	text-align: center;
  font-family: $font-lite;

  h3 {
  	color: #222222;
  	padding: 100px;
  }
  form p {
    font-size: 18px;
  }
  form #submit-button {
    background-image: url("../img/bg.jpg");
  }
}
/*=== FOOTER ==*/

footer {
	background-color: #222222;
	text-align: center;

  p {
  	color: #fff;
  	font-size: 16px;
  }

  a {
	 color: #fff;
  }
}
/*===============MEDIA QUERIES ====================*/

/*=== TABLET ===*/

@media (min-width: 600px)  {
	.navbar li {
		font-size: 20px;
	}
}
/*=== DESKTOP ===*/

@media (min-width: 1200px)  {
	.navbar li {
		font-size: 22px;
	}
}
