/*=== GLOBAL STYLE ===*/
body {
  font-family: "aileronregular", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  overflow-x: hidden;
  background-color: #fff; }

/*=== NAVBAR===*/
nav {
  font-family: "aileronlight", Helvetica, sans-serif;
  padding: 10px;
  background-color: #f1f7f6; }

.navbar li {
  text-align: center;
  font-size: 28px; }

.hamburger-inner {
  color: rgba(0, 0, 0, 0.5); }

.sociallinks {
  color: rgba(0, 0, 0, 0.5); }

.sociallinks:hover {
  color: #222222; }

/* mouse over link */
#navbar a:hover {
  color: #222222; }

/*=== HEADER ===*/
header {
  text-align: center;
  padding: 150px 50px 1000px 50px;
  background-image: url("../images/hero.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header h1 {
    font-size: 40px;
    font-family: "aileronregular", Helvetica, sans-serif;
    color: #fff;
    text-shadow: 2px 2px #222222; }
  header p {
    font-family: "aileronlight", Helvetica, sans-serif;
    padding: 10px;
    margin: 10px 50px 10px 50px;
    text-align: center;
    font-size: 20px; }
  header img {
    width: 100%;
    height: auto; }

/*=== MAIN ===*/
main {
  text-align: center;
  /* */ }
  main h2 {
    color: #fff;
    padding: 15px; }
  main .img-fluid {
    box-shadow: 2px 5px 4px #888888;
    border-radius: 25px; }
  main .gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
  main .gridder-list {
    display: inline-block;
    vertical-align: top;
    padding: 10px; }
  main .gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background: #EEE url("../images/loading-spin.svg") no-repeat center; }
    main .gridder-show.loading {
      background: #EEE url("../images/loading-spin.svg") no-repeat center; }
  main .gridder-content {
    display: none; }
  main .gridder-list {
    width: 100%; }
    main .gridder-list:nth-child(n) {
      margin-bottom: 1%;
      margin-right: 1%; }
    main .gridder-list:nth-of-type(1n) {
      margin-right: 0;
      margin-bottom: 0; }
  main .gridder-show {
    padding: 20px;
    background: #EEE;
    margin-bottom: 1%; }
  main .gridder-navigation {
    text-align: right; }
    main .gridder-navigation .gridder-nav.disabled {
      opacity: .5; }
  main .gridder-close {
    color: #222222;
    text-align: center; }
  main .gridder-list {
    cursor: pointer; }
    main .gridder-list:hover {
      opacity: 0.8; }
  main .hasSelectedItem .gridder-list {
    opacity: .5; }
    main .hasSelectedItem .gridder-list.selectedItem {
      opacity: 1; }

/*=== ARTICLE ===*/
article {
  text-align: center;
  font-family: "aileronlight", Helvetica, sans-serif; }
  article h3 {
    color: #222222;
    padding: 100px; }
  article form p {
    font-size: 18px; }
  article form #submit-button {
    color: #c3dbd8;
    background-color: #222222; }
  article form #submit-button:hover {
    background-color: #c3dbd8;
    color: #222222; }

/*=== FOOTER ==*/
footer {
  background-color: #222222;
  text-align: center; }
  footer p {
    color: #fff;
    font-size: 16px; }
  footer a {
    color: #fff; }

/*===============MEDIA QUERIES ====================*/
/*=== TABLET ===*/
@media (min-width: 600px) {
  .navbar li {
    font-size: 20px; }

  .gridder-list {
    width: 49.5%; }
    .gridder-list:nth-child(n) {
      margin-bottom: 1%;
      margin-right: 1%; }
    .gridder-list:nth-of-type(2n) {
      margin-right: 0;
      margin-bottom: 0; } }
/*=== DESKTOP ===*/
@media (min-width: 1200px) {
  .navbar li {
    font-size: 22px; }

  header h1 {
    font-size: 80px; }
  header p {
    margin: 10px 300px 10px 300px; }

  .gridder-list {
    width: 32.6666666667%; }
    .gridder-list:nth-child(n) {
      margin-bottom: 1%;
      margin-right: 1%; }
    .gridder-list:nth-of-type(3n) {
      margin-right: 0;
      margin-bottom: 0; } }

/*# sourceMappingURL=base.css.map */
